/* CSS code for styling the HTML document */



.frame {  /* Main container styling */
  position: relative;
  height: 925px;
  background-color: rgb(4,54,74);
  border-radius: 70px;
  top: 0;
  left: 0;
  right: 0;

}

.sexy {  /* Styling for the navigation links container */
  position: absolute;
  width: 350px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  margin: 30px 0px 0px 1400px;  
}
 

.home, .about,  .contact {  /* Styling for the individual navigation links */
  color: white;
  font-size: 26px;
 
  font-weight:bold;
}

a { text-decoration:none;  color: inherit; } /* Styling for anchor tags */

a:hover {
  color:#1597d8; 
 text-decoration:underline; 
  cursor:pointer;  
} 


.portfolio {  /* Styling for the portfolio header */
  position:absolute;
  color:white;
  font-size:70px;
  font-weight:bold; 
  margin: 95px 0px 0px 50px;
  filter: drop-shadow(-1px 25px 1px hwb(211 25% 59% / 0.852)); 
}


.ProfileText {  /* Styling for the profile text */
  position:absolute;
  color:#ffffff;
  font-size:40px;
  font-weight:bold;
  margin: 400px 0px 0px 65px; 
}

.ProfileText2 { /*styling for the ProfileText2*/
  position:absolute;
  width:500x; 
  color:#2294D4;
  font-size: 24px;
  font-weight:bold;
  margin: 452px 0px 0px 65px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
 
.ProfileText3 {   /*styling for the ProfileText3*/
  position:absolute;
  width:700px;
  color:#ffffff;
  font-size:14px;
  font-weight:bold;
  margin: 540px 0px 0px 65px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

.blur {  /* styling for ellipse and dropshadow*/
  position:absolute;
  width:435px;
  height:435px;
  background-color: #4B8F9D;
  border-radius:300px;
  margin:315px 0px 4px 1350px;
  filter: drop-shadow( 3px 0px 10px  #4B8F9D);

}




.image {  /* Styling for the profile image container */
  position:absolute;
  width:400px;
  height:400px;
  background-color:white;
  margin:333px 0px 0px 1368px;
  border-radius:800px;
  align-items:center;
}
  

.profile {  /* Styling for the profile image */
  position:absolute;
  margin:33px 0px 0px 54px;
  border-radius :200px;
  width:300px;
}

.icon {  /* Styling for the social media icons container */
  position: absolute;
  width: 280px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 863px 0px 0px 50px
}

.icons {  /* Styling for the individual social media icons */
  width:40px;
}



